@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Righteous&display=swap');
body {
    background-color: #E5E5E5;
}
* {
    box-sizing: border-box;
}

.main-container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F86B6B;
    width: 375px;
    margin: auto;
    margin-bottom: 50px;



}

.hidden {
    display:none;
}

.initial-screen, .questions-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.initial-screen img {
    width: 136px;
    height: 161px;
}


.questions-screen  img {
    width: 52px;
    height: 60px;
    margin-right: 20px;

}

.initial-screen h1, .questions-screen h1  {
    color: #FFFFFF;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    margin-top: 13px;
}

.title{
    margin-bottom: 30px;
}

.questions-screen div{
    display: flex;
    margin-top: 30px;
}

.start-button{
    color: #D70900;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 246px;
    height: 54px;
    margin-top: 30px;
}

.start-button:hover{
    cursor: pointer;
    background: lightgray;
}


.question-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px; 
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
    margin-top: 25px;

}

.question-container img {
    width: 20px;
    height: 23px;
}

.question-container span {
    font-size: 16px;
    font-family: 'Recursive', sans-serif;
    margin-left: 15px;
    color: #333333;
    font-weight: 700;
}

.question-container:hover{
    cursor: pointer;
    background-color: lightgray;
}

.bottom-bar {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-bar div{
    margin-top: 24px;
    margin-bottom: 24px;
}


.question-card, .back-card {
    background: #FFFFD5;
    width: 299px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;

}

.question-card{
    height: 131px;
}

.back-card{
    display: flex;
    flex-direction: column;
}

.question-card span, .back-card span{
    font-size: 18px;
    color: #333333;
    font-family: 'Recursive', sans-serif;
    margin-left: 15px;
    margin-top: 18px;

    
}

.question-card img {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 7px;
    right: 0px;
    
}

.question-card img:hover{
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.buttons button{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    
}



.red-button{
    background-color: #FF3030;
    
}

.orange-button{
    background: #FF922E;
}

.green-button{
    background: #2FBE34;

}
